<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sometimestwo.moxie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
        <meta-data
            android:name="net.dean.jraw.android.REDDIT_USERNAME"
            android:value="ambits" />
        <meta-data
            android:name="net.dean.jraw.android.CLIENT_ID"
            android:value="x0CvI7eA_5Qchg" />
        <meta-data
            android:name="net.dean.jraw.android.REDIRECT_URL"
            android:value="https://github.com/izikperz" />

        <activity
            android:name=".ActivityMain"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityHome"></activity>
        <activity android:name=".ActivitySettings"></activity>
        <activity android:name=".ActivityNewUserLogin"></activity>
        <activity android:name=".ActivitySubredditViewer"></activity>
        <activity android:name=".YouTubePlayerClass"></activity>

        <service
            android:name=".Utils.DownloadService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>